pkgbase = networkmanager-iwd
	pkgdesc = NM modified package to use exclusively iwd backend getting rid of wpa_supplicant dependency
	pkgver = 1.32.0
	pkgrel = 1
	epoch = 2
	url = https://wiki.gnome.org/Projects/NetworkManager
	arch = x86_64
	license = GPL2
	license = LGPL2.1
	makedepends = audit
	makedepends = bluez-libs
	makedepends = curl
	makedepends = dhclient
	makedepends = dnsmasq
	makedepends = git
	makedepends = glib2-docs
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = intltool
	makedepends = iproute2
	makedepends = iptables
	makedepends = iwd
	makedepends = jansson
	makedepends = libmm-glib
	makedepends = libndp
	makedepends = libnewt
	makedepends = libpsl
	makedepends = libteam
	makedepends = meson
	makedepends = modemmanager
	makedepends = nss
	makedepends = openresolv
	makedepends = perl-yaml
	makedepends = polkit
	makedepends = ppp=2.4.9
	makedepends = python-gobject
	makedepends = systemd
	makedepends = vala
	makedepends = wpa_supplicant
	source = git+https://gitlab.freedesktop.org/NetworkManager/NetworkManager.git#commit=d9c0d43879e8420dda6482b05341dcfeedf7be43
	sha256sums = SKIP

pkgname = networkmanager-iwd
	install = networkmanager-iwd.install
	groups = gnome
	depends = audit
	depends = bluez-libs
	depends = curl
	depends = iproute2
	depends = iwd
	depends = libmm-glib
	depends = libndp
	depends = libnewt
	depends = libnm-iwd
	depends = libpsl
	depends = libteam
	depends = mobile-broadband-provider-info
	depends = polkit
	optdepends = dnsmasq: connection sharing
	optdepends = bluez: Bluetooth support
	optdepends = ppp: dialup connection support
	optdepends = modemmanager: cellular network support
	optdepends = dhclient: alternative DHCP client
	optdepends = openresolv: alternative resolv.conf manager
	provides = networkmanager
	conflicts = networkmanager
	conflicts = wpa_supplicant
	backup = etc/NetworkManager/NetworkManager.conf

pkgname = libnm-iwd
	pkgdesc = NetworkManager client library with iwd backend
	depends = glib2
	depends = jansson
	depends = libutil-linux
	depends = nss
	depends = systemd-libs
	provides = libnm
	conflicts = libnm
